<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- the link to home and about us shows on every page now! -->
	<%= link_to "Home", root_path %>
	<%= link_to "About Us", about_path %>	
	<%= yield %>

</body>
</html>
